<% @seo_keywords = '市民日報,町づくり,東淀川,ボランティア,地域町づくりの会,見回り,身体障害者' %>
<% @seo_description = '東淀川区と淀川区を主体に発刊されております「市民日報」に「東淀川地域町づくりの会」が取り上げられました！東淀川区と淀川区を主体に発刊されております「市民日報」に「東淀川地域町づくりの会」が取り上げられました！'%>
<% @seo_title = "新着ニュース | 住んでみたい明るい町づくり - #{ConstantsList::SITE_NAME}"%>
<div id="gdj">

  <h2>新着ニュース</h2>
  <div style="padding:10px 0 5px 30px;">
    <%= render(:partial => "content/topics/vol/#{@vol}")%>
  </div>
  <div style="padding:10px 0 5px 30px;">
    <p class="ttl_p" style="font-size: 110%;">今後も東淀川区に貢献できますよう、地道に活動を行っていきます。</p>
  </div>
  <br/>

</div>