<% @seo_title = "問い合わせ～送信完了～ | 住んでみたい明るい町づくり - #{ConstantsList::SITE_NAME}"%>
<div id="gdj">
  <h2>お問い合わせありがとうございました</h2>
  <div style="padding:0 0 0 15px">
    <p>担当者がご返答いたしますので少々お待ち下さい。</p>
  </div>
</div>
