<% @seo_keywords = ' 市民日報,美化活動,町づくり,東淀川,ボランティア,地域町づくりの会,見回り,身体障害者' %>
<% @seo_description = '東淀川区と淀川区を主体に発刊されております「市民日報」に理事長が紹介されました!'%>
<% @seo_title = "新着ニュース VOL2 | 住んでみたい明るい町づくり - #{ConstantsList::SITE_NAME}"%>
<p class="ttl_p" style="font-size: 110%;">2010/03/10 市民日報に理事長が紹介されました!</p>
<p class="txt">
東淀川区と淀川区を主体に発刊されております「市民日報」に理事長が紹介されました!<br/>
</p>
<%=image_tag("news/news2.gif",:alt=>"東淀川区と淀川区を主体に発刊されております「市民日報」に理事長が紹介されました!")%>
<div style="padding:0 0 0 0;width:650px">
  <hr color="Gray" style="border-style:dotted">
</div>