<div id="gdj">
  <h2>活動記録</h2>
  <div style="padding:10px 0 5px 30px;">
    <p class="ttl_p" style="font-size: 110%;"> NPO法人 東淀川地域町づくりの会の活動記録を一部、ご紹介させていただきます。</p>
  </div>

  <% @seo_keywords = '活動記録,町づくり,東淀川,ボランティア,地域町づくりの会,見回り,身体障害者' %>
  <% @seo_description = 'NPO法人 東淀川地域町づくりの会の活動記録を一部、ご紹介させていただきます。'%>
  <% @seo_title = "活動記録 | 住んでみたい明るい町づくり - #{ConstantsList::SITE_NAME}"%>
  <table style="padding-left:10px;width:700px">
    <tr>
      <td style="width350px">
    <embed
      src="/images/movie/MOV00001.MPG"
      width="300"
      height="320"
      bgcolor="#ffffff"
      allowscriptaccess="always"
      allowfullscreen="true"
      />
    </td>
    <td style="width350px">
    <embed
      src="/images/movie/MOV00007.MPG"
      width="300"
      height="320"
      bgcolor="#ffffff"
      allowscriptaccess="always"
      allowfullscreen="true"
      />
    </td>
    </tr>
    <%if false%>
      <tr>
        <td style="width350px">
      <embed
        src="/images/movie/MOV00007.MPG"
        width="300"
        height="320"
        bgcolor="#ffffff"
        allowscriptaccess="always"
        allowfullscreen="true"
        />
      </td>
      <td style="width350px">
        &nbsp;
      </td>
      </tr>
    <%end%>
  </table>
</div>