<% @seo_keywords = '町づくりの会とは？,町づくり,東淀川,ボランティア,地域町づくりの会,見回り,身体障害者' %>
<% @seo_title = "町づくりの会とは？ | 住んでみたい明るい町づくり - #{ConstantsList::SITE_NAME}"%>
<div id="gdj">
  <h2>町づくりの会とは？</h2>
  <div style="padding:10px 0 0 30px">
    <table>
      <tr>
        <td valign="top">
          <p class="ttl_p" style="width:350px;">活動の趣旨</p>
          <p class="txt" style="width:350px;">
            NPO法人東淀川地域町づくりの会は、地元東淀川区を美しく健康的で文化的、
            そして高齢者や身体障害者・子供達にも優しく楽しく暮らせる街づくりを推進、協力、助言、支援、
            企画、実行等に関与し、安全で住みやすい快適な環境の区内の整備、
            開発及び保全を推進・実行することを目的としており、
            その一環として月例(月二回)の街頭での美化活動・防犯防災抑止巡回パトロール・中学校で
            の見守り隊・その他、地域での様々なボランティア活動への参加及び協力を行っております。
          </p>
        </td>
        <td>
          <%=image_tag("about002.gif")%>
        </td>
      </tr>
      <tr>
        <td valign="top">
          <p class="ttl_p" style="width:350px;">活動の目的</p>
          <p class="txt" style="width:350px;">
            NPO法人東淀川地域町づくりの会の活動の目的は、東淀川区に在住される方々全員が、
            地域づくりの意識を高め、高齢者や身体障害者、子供達など、誰もが明るく快適に暮らせる
            地域づくりを目指し又、少しでも犯罪や防災に対しての意識を促し、誰もが住んでよかった・住んで
            みたいと思うような美しく安全で健康的な空間の町づくりの礎となる活動を目的としております。<br/>
            又、この活動に参加される方々、一人一人の意識の改善とモラルの向上に繋がる、
            恵みある活動であると考えております。
          </p>
        </td>
        <td>
          <%=image_tag("about001.gif")%>
        </td>
      </tr>
      <tr>
        <td valign="top">
          <p class="ttl_p" style="width:350px;">活動内容</p>
          <p class="txt" style="width:350px;">
          <table style="font-size:110%;width:350px;">
            <tr>
              <td valign="top" style="font-size:110%;width:20px;">
                1)
              </td>
              <td style="font-size:110%;padding-bottom:10px;">
                毎月第二・第四土曜日、淡路・西淡路・東淡路・東中島・菅原・下新庄地区を
                主体に美化活動を行っております。(今期、東淀川区全地域にて、実施予定)
              </td>
            </tr>
            <tr>
              <td valign="top" style="font-size:110%;">
                2)
              </td>
              <td style="font-size:110%;padding-bottom:10px;">
                区内中学校におきまして週1回(朝・夕)の見守り隊を行っております。
                (今期、区内各所の中学校におきまして、見守り隊を実施予定。)
              </td>
            </tr>
            <tr>
              <td valign="top" style="font-size:110%;">
                3)
              </td>
              <td style="font-size:110%;padding-bottom:10px;">
                不定期に東淀川区各地域におきまして夜の巡回パトロール(青少年非行防止・抑止を目的)を
                行っています。
              </td>
            </tr>
            <tr>
              <td valign="top" style="font-size:110%;">
                4)
              </td>
              <td style="font-size:110%;padding-bottom:10px;">
                防犯防災の抑止活動としまして、４カ月に1回、戸締り火の元の確認の注意を呼び掛け、
                淡路西淡路・東淡路・東中島・菅原・下新庄・豊新地区におきまして夜警巡回を行っています。
                (5月、豊里・豊新・大桐・大隅方面、9月井高野方面に巡回予定)
              </td>
            </tr>
            <tr>
              <td valign="top" style="font-size:110%;">
                5)
              </td>
              <td style="font-size:110%;padding-bottom:10px;">
                その他、各地域並びにボランティア団体・市民団体・社会福祉協議会等の企画イベントの
                参加協力や各連合会の要望に応じ、出来る限りのご協力をさせていただいております。
              </td>
            </tr>
          </table>
        </td>
        <td valign="top">
          <br/><br/><br/>
          <%=image_tag("about003.gif")%>
          <br/><br/><br/>
          <%=image_tag("about004.gif")%>
        </td>
      </tr>
    </table>
  </div>
</div>