<% @seo_title = "アクセス方法 | 住んでみたい明るい町づくり - #{ConstantsList::SITE_NAME}"%>
<div id="gdj">
<h2>アクセス方法</h2>
  <dl>
    <dt>名称</dt>
    <dd>
      <%=ConstantsList::SITE_NAME%>
    </dd>
    <dt>所在地</dt>
    <dd>
      〒533-0032  大阪府大阪市東淀川区淡路5丁目2－8
    </dd>
    <dt>TEL</dt>
    <dd>
      06-6326-3232
    </dd>
    <dt>FAX</dt>
    <dd>
      06-6326-2121
    </dd>
    <dt>業務時間</dt>
    <dd>
      平日：月曜日～金曜日　午前９時３０分～午後５時
    </dd>
    <dt>休日</dt>
    <dd>
      土、日、祝祭日
    </dd>
    <dt>最寄り駅</dt>
    <dd>
      阪急淡路駅　徒歩３分
    </dd>
  </dl>
<%#=show_googlemap(135.518402,34.741727,660,350)%>
  <iframe style="padding-left:15px" width="660" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.jp/maps?f=q&amp;source=s_q&amp;hl=ja&amp;geocode=&amp;q=%E5%A4%A7%E9%98%AA%E5%BA%9C%E5%A4%A7%E9%98%AA%E5%B8%82%E6%9D%B1%E6%B7%80%E5%B7%9D%E5%8C%BA%E6%B7%A1%E8%B7%AF5%E4%B8%81%E7%9B%AE2%EF%BC%8D8&amp;sll=34.741617,135.518176&amp;sspn=0.002129,0.004823&amp;brcurrent=3,0x6000e40d7a68383d:0xf8e3c1348b05ea,0&amp;ie=UTF8&amp;hq=&amp;hnear=%E5%A4%A7%E9%98%AA%E5%BA%9C%E5%A4%A7%E9%98%AA%E5%B8%82%E6%9D%B1%E6%B7%80%E5%B7%9D%E5%8C%BA%E6%B7%A1%E8%B7%AF%EF%BC%95%E4%B8%81%E7%9B%AE%EF%BC%92%E2%88%92%EF%BC%98&amp;z=16&amp;ll=34.741727,135.518402&amp;output=embed"></iframe><br />
  <small><a href="http://maps.google.co.jp/maps?f=q&amp;source=embed&amp;hl=ja&amp;geocode=&amp;q=%E5%A4%A7%E9%98%AA%E5%BA%9C%E5%A4%A7%E9%98%AA%E5%B8%82%E6%9D%B1%E6%B7%80%E5%B7%9D%E5%8C%BA%E6%B7%A1%E8%B7%AF5%E4%B8%81%E7%9B%AE2%EF%BC%8D8&amp;sll=34.741617,135.518176&amp;sspn=0.002129,0.004823&amp;brcurrent=3,0x6000e40d7a68383d:0xf8e3c1348b05ea,0&amp;ie=UTF8&amp;hq=&amp;hnear=%E5%A4%A7%E9%98%AA%E5%BA%9C%E5%A4%A7%E9%98%AA%E5%B8%82%E6%9D%B1%E6%B7%80%E5%B7%9D%E5%8C%BA%E6%B7%A1%E8%B7%AF%EF%BC%95%E4%B8%81%E7%9B%AE%EF%BC%92%E2%88%92%EF%BC%98&amp;z=16&amp;ll=34.741727,135.518402" target="_blank" style="color:#0000FF;text-align:left;padding-left:15px">大きな地図で見る</a></small>
</div>