<% @seo_title = "ご挨拶 | 住んでみたい明るい町づくり - #{ConstantsList::SITE_NAME}"%>
<div id="gdj">
  <h2>ご挨拶</h2>
  <div style="padding:15px 0 0 25px;width:650px">
    <table style="padding:0 0 0 2px;width:650px;border:1px dotted #999999;"   border="0" cellpadding="0" cellspacing="1">
      <tr>
        <td valign="top" bgcolor="#ffffff"style="padding:8px 5px 5px 13px;border-right:1px dotted #999999;">
          <%=image_tag("greeting001.gif",:alt=>"理事長  舘森清一",:size=>"200x223")%>
        </td>
        <td valign="top"  bgcolor="#ffffff" style="width:410px;padding:8px 0 5px 5px;">
          <p class="ttl_p" >理事長  舘森清一</p>
          <table >
            <tr>
              <td colspan="2">
                (プロフィール)<br/>
                1978年生まれ
              </td>
            </tr>
            <tr>
              <td>
                職業
              </td>
              <td>
                : 自営業
              </td>
            </tr>
            <tr>
              <td valign="top">
                好きな食べ物
              </td>
              <td>
                : イカの塩辛
              </td>
            </tr>
            <tr>
              <td>
                趣味
              </td>
              <td>
                : イカ釣り
              </td>
            </tr>
            <tr>
              <td>
                チャームポイント
              </td>
              <td>
                : ふっくらとした、頬っぺた
              </td>
            </tr>
            <tr>
              <td>
                家族構成
              </td>
              <td>
                : 妻と子供２人
              </td>
            </tr>
            <tr>
              <td>
                総合
              </td>
              <td>
                : 会が全ての30代
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td colspan="2" valign="top" bgcolor="#ffffff"style="padding:8px 15px 5px 15px;border-top:1px dotted #999999;">
          初めは、「何で、町中のゴミ拾いなん?」と思っていましたが、前理事長の“人の為、
          町の為に何か出来ることはないか?自分達が出来ることからやっていこう、見つけていこう、手と手の温もり、人と人の繋がり、
          次世代にも伝え町の活性化に繋げていこう”と言う話に感銘し、自分自身も出来る事から一つずつやっていこうと考えました。<br/>
          <br/>
          日常、ゴミの分別やタバコのポイ捨てなど、普段当たり前だと思って行っていたことや、気づいているのに気づかないふりをしてみたりて事が沢山あると思います。<br/>
          そんな小さなことや当たり前のことから積極的に行っていこうと、活動に参加していきました。
          そう思いながら活動すると一つ一つの言動に責任感や充実感が湧きだし、「何で、町中のゴミ拾いなん?」と思っていた私が今では、
          誰にも負けない気持ちでボランティア活動を行っています。<br/>
          <br/>
          皆さんも我々と一緒に、自分が出来ることから少しずつやっていきませんか?
          今後も町の為、人の為に活動を行ってまいりますので皆様方の御参加、御協力をよろしくお願いいたします。
        </td>
      </tr>
    </table>
  </div>
  <div style="padding:15px 0 0 25px;width:650px">
    <table style="padding:0 0 0 2px;width:650px;border:1px dotted #999999;"   border="0" cellpadding="0" cellspacing="1">
      <tr>
        <td valign="top" bgcolor="#ffffff"style="padding:8px 5px 5px 13px;border-right:1px dotted #999999;">
          <%=image_tag("greeting002.gif",:alt=>"専務理事  石田龍也",:size=>"200x220")%>
        </td>
        <td valign="top"  bgcolor="#ffffff" style="width:410px;padding:8px 0 5px 5px;">
          <p class="ttl_p" >専務理事  石田龍也</p>
          <table >
            <tr>
              <td colspan="2">
                (プロフィール)<br/>
                1965生まれ 東淀川区にて出生、現在までに至る
              </td>
            </tr>
            <tr>
              <td>
                会に参加理由
              </td>
              <td>
                : 元理事長の話に感銘し、草創の時より参加
              </td>
            </tr>
            <tr>
              <td valign="top">
                趣味
              </td>
              <td>
                : 読書、DVD鑑賞、飲酒、下手の横好きのゴルフ<br/>
                &nbsp;&nbsp;(DVDは、子供にテレビを独占されて見れていません)
              </td>
            </tr>
            <tr>
              <td>
                座右の書
              </td>
              <td>
                : 論語
              </td>
            </tr>
            <tr>
              <td>
                好きな食べ物
              </td>
              <td>
                : 辛し明太子
              </td>
            </tr>
            <tr>
              <td>
                困っていること
              </td>
              <td>
                : 最近加齢臭が出、妻が近寄らない
              </td>
            </tr>
            <tr>
              <td>
                家族構成
              </td>
              <td>
                : 妻と一姫二太郎
              </td>
            </tr>
            <tr>
              <td>
                目標
              </td>
              <td>
                : 活動者数を1,000人に、個人的には、本の出版
              </td>
            </tr>
            <tr>
              <td>
                総合
              </td>
              <td>
                : 家族と東淀川区を愛する中年男
              </td>
            </tr>
          </table>

        </td>
      </tr>
      <tr>
        <td colspan="2" valign="top" bgcolor="#ffffff"style="padding:8px 15px 5px 15px;border-top:1px dotted #999999;">
          日々、私たちが暮らす町の中で、疑問に思うことや不便なこと又、迷惑な事、危険な事、改善してほしい事がないでしょうか?<br/>
          <br/>
          例えば、「マンションに駐輪場がなく、狭い道路に自転車やミニバイクを放置している」、「子供たちが遊ぶ公園が、ゴミだらけ」、
          「駅前では、自転車やタクシーが道路を占拠している」など、様々な事が私たちの生活の中に、多く存在しています。<br/>
          <br/>
          私たちは、身近なところで感じたことや地域の方々の声を聞き、「自分たちの手で地元東淀川区を住みよい町にしよう、お年寄りから身体障害者、
          子供まで、誰もが明るく楽しく安全に暮らせる町にしよう」と言う想いで、有志3人を募り結成いたしました。<br/>
          <br/>
          結成以来3年余りが経ち、活動者数も年々増え現在では、10代の若者から20代、40代のアラフォー世代まで、総勢70名になり、活動範囲、内容も、今では大きく変わりました。<br/>
          <br/>
          この活力のある若いエネルギーとパワーを東淀川区の町づくりのために大いに役立て、これからも地域の皆様方の声を聞き敏速に行動に移し、
          皆で力を合わせて地元東淀川区の課題やニーズに取り組み、貢献していきたいと思います。

        </td>
      </tr>
    </table>
  </div>
</div>