<% @seo_keywords = '運営組織,町づくり,東淀川,ボランティア,地域町づくりの会,見回り,身体障害者' %>
<% @seo_title = "運営組織 | 住んでみたい明るい町づくり - #{ConstantsList::SITE_NAME}"%>
<div id="gdj">

  <h2>運営組織</h2>
  <dl>
    <dt>名称</dt>
    <dd>
      NPO法人 東淀川地域町づくりの会
    </dd>

    <dt>設立</dt>
    <dd>
      NPO法人東淀川地域町づくりの会&nbsp;&nbsp;&nbsp;2008年11月01日<br/>
      (前身)NPO法人クラリティ&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      2006年12月20日<br/>
    </dd>
    <dt>所在地</dt>
    <dd>
      大阪市東淀川区淡路5丁目2番8号

    </dd>

    <dt>TEL</dt>
    <dd>
      (06)6326-3232㈹
    </dd>

    <dt>FAX</dt>

    <dd>
      (06)6326-2121㈹
    </dd>
    <dt>業務時間</dt>

    <dd>
      平日：月曜日～金曜日　午前９時３０分～午後５時
    </dd>
    <dt>休日</dt>

    <dd>
      土、日、祝祭日
    </dd>
    <dt>代表者</dt>
    <dd>
      理事長&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;舘森　清一<br/>
      専務理事&nbsp;&nbsp;石田　龍也<br/>
      他、&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;理事一名

    </dd>
    <dt>活動者総数:</dt>
    <dd>
      70人(随時、活動者増員中)<br/>
      支持者及び支援者数:約5,000人以上。
    </dd>
    <dt>目的等</dt>
    <dd>
      この法人は、高齢者、障害者(児)等の社会的弱者がその居宅においてその人らしく自立・自律した
      生活が実現・継続できるように自己決定を支え、適切なサービスが公正・中立に提供されるように
      関係各機関・各事業者との連携を図り、介護保険制度、障害者自立支援法に基づく事業を行う
      とともに、消費者トラブル等日常生活における社会的弱者の相談窓口や情報提供・交流の場を
      構築し支援すること、また地域の人々が安全で健やかに暮らせる地域づくりを通じて、広く公益、
      福祉の増進に寄与することを目的とする。<br/>
      <br/>
      (事業の種類)<br/>
      &nbsp;&nbsp;(1)&nbsp;保険、医療又は福祉の増進を図る活動<br/>
      &nbsp;&nbsp;(2)&nbsp;地域安全活動<br/>
      &nbsp;&nbsp;(3)&nbsp;消費者の保護を図る活動<br/>
      &nbsp;&nbsp;(4)&nbsp;前各号に掲げる活動を行う団体の運営又は活動に関する連絡、助言又は援助の活動<br/>
      <br/>
      (特定非営利活動の種類)<br/>
      &nbsp;&nbsp;(1)&nbsp;ドメスティック・バイオレンス(DV)被害に関する相談受付及び情報提供事業<br/>
      &nbsp;&nbsp;(2)&nbsp;消費者トラブルに関する相談及び情報提供事業<br/>
      &nbsp;&nbsp;(3)&nbsp;地域安全に関する講習会、講演会開催事業<br/>
      &nbsp;&nbsp;(4)&nbsp;犯罪・非行防止のための地域パトロール・違法駐車の改善支援事業<br/>
      &nbsp;&nbsp;(5)&nbsp;介護保険法に基づく介護事業<br/>
      &nbsp;&nbsp;(6)&nbsp;障害者自立支援法に基づく地域生活支援事業<br/>
      &nbsp;&nbsp;(7)&nbsp;その他上記記載目的を達成するために必要な事業<br/>

    </dd>
  </dl>
  <p style="padding-left:30px">
    <b>≪組織図≫</b>
  </p>
  <%=image_tag("common/info.gif",:alt=>"組織図")%>
  <p style="padding-left:30px">
    <br/>

    ※今年度中に各地域にて、ブロック体制を構築予定。
  </p>

</div>