

<% @seo_title = "プライバシーポリシー | 住んでみたい明るい町づくり - #{ConstantsList::SITE_NAME}"%>
<div id="gdj">
  <h2>プライバシーポリシー</h2>

  <div style="padding:10px 0 0 30px">
    <p class="ttl_p" >個人情報の記載</p>
    <p class="txt">
      「NPO法人 東淀川地域町づくりの会のホームページ」では、個人情報を以下の目的のために利用します。<br/>
      <br/>
      (ア)&nbsp;&nbsp;&nbsp;当団体の情報並びに活動の公開提供<br/>
      (イ)&nbsp;&nbsp;&nbsp;団体との連絡および情報の提供<br/>
    </p>
    <table style="font-size:110%;padding:0 0 0 0px;">
      <tr>
        <td valign="top" style="width:8px;font-size:110%;">
          ①
        </td>
        <td style="font-size:110%;padding-bottom:3px;">
          団体・個人情報を収集するときには、目的を明確にし、その目的に必要な範囲の情報を収集します。
        </td>
      </tr>
      <tr>
        <td valign="top" style="width:8px;font-size:110%;">
          ②
        </td>
        <td style="font-size:110%;padding-bottom:3px;">
          個人情報の提供先の承諾を得ない限り、第三者に個人情報を開示しません。
        </td>
      </tr>
      <tr>
        <td valign="top" style="width:8px;font-size:110%;">
          ③
        </td>
        <td style="font-size:110%;padding-bottom:3px;">
          紛失、盗難、漏洩、誤った利用などを防ぐために、ホームページ管理者が適正に管理し、必要のなくなった個人情報は、
          速やかに且つ確実に廃棄します。
        </td>
      </tr>
      <tr>
        <td valign="top" style="width:8px;font-size:110%;">
          ④
        </td>
        <td style="font-size:110%;padding-bottom:3px;">
          個人情報の処理やサービスの運営を外部に委託することがありますが、業務委託先にも、個人情報の取り扱いに関しては
          漏洩等が起こらないよう適切な管理を実施させています。
        </td>
      </tr>
      <tr>
        <td valign="top" style="width:8px;font-size:110%;">
          ⑤
        </td>
        <td style="font-size:110%;padding-bottom:3px;">
          サイト運営主体は、個人情報の属性の集計や分析等を行い、個人が特定できないように加工した資料等を作成し、
          業務の遂行のために利用、処理することがあります。
        </td>
      </tr>
    </table>
<br/>

    <p class="ttl_p">著作権の掲載</p>
    <p class="txt">
      「NPO法人東淀川地域町づくりの会のホームページ」に掲載された情報（写真、画像、その他のデータ等）の
      著作権は、NPO法人東淀川地域町づくりの会が作成したものについてはその作成者に、情報提供し
      公開された情報についてはその情報提供者に帰属します。掲載されている情報や画像等の転載を希望する場合は、情報提供者に
      直接ご連絡いただき使用許諾を得るか、サイト運営主体であるNPO法人東淀川地域町づくりの会までご連絡ください。
    </p>
    <p class="ttl_p">システムの変更・中断、および各種障害への対応について</p>
    <p class="txt">
      次のいずれかに該当する場合、情報提供を中断することがあります。<br/>
      &nbsp;&nbsp;•&nbsp;システムの変更や保守点検を行う場合<br/>
      &nbsp;&nbsp;•&nbsp;火災、停電、天災などにより情報提供ができなくなった場合<br/>
      &nbsp;&nbsp;•&nbsp;その他、運用上の理由で管理者が一時的な中断をする場合

    </p>
    <p class="ttl_p">免責について</p>
   
    <table style="font-size:110%;padding:0 0 0 8px;">
      <tr>
        <td valign="top" style="width:5px;font-size:110%;">
          •
        </td>
        <td style="font-size:110%;padding-bottom:10px;">
          システムの管理上、必要に応じてサービスを停止することがあるほか、故障や天災などによりサービスが中断することがあります。
          これらによって利用者または情報掲載者が被る損害については責任を負いません。
        </td>
      </tr>
      <tr>
        <td valign="top" style="font-size:110%;">
          •
        </td>
        <td style="font-size:110%;padding-bottom:10px;">
          掲載情報に関して、情報掲載者が第三者に損害を負わせた場合は、情報掲載者の責任において対応するものとします。
        </td>
      </tr>
      <tr>
        <td valign="top" style="font-size:110%;">
          •
        </td>
        <td style="font-size:110%;padding-bottom:10px;">
          掲載情報は、情報提供者の責任において発信されるものとします。情報を利用する場合は、利用者の自己責任で行ってください。
          掲載情報の正確性、確実性、有効性、安全性等の保証はいたしません。
          また、利用者がコンテンツの内容を使用したことに起因する損害については責任を負いません。
        </td>
      </tr>
    </table>
  </div>
</div>
