<% @seo_keywords = 'ご支援いただいている皆様,個人支援者,支援社一覧,町づくり,東淀川,ボランティア,地域町づくりの会,見回り,身体障害者' %>
<% @seo_description = '町づくりの会にご支援をしていただいた企業及び個人の皆様のご紹介。'%>
<% @seo_title = "ご支援いただいている皆様 | 住んでみたい明るい町づくり - #{ConstantsList::SITE_NAME}"%>
<div id="gdj">
  <h2>ご支援いただいている皆様</h2>
  <br/>
  <div style="padding:0 0 0 25px;width:650px">
    <p class="ttl_p" >支援社一覧　～<font size="6"><b style="font-size: 16px; ">五十音順で表記</b></font>～</p>
    <table style="padding:0 0 0 2px;width:650px;"  bgcolor="Gray" border="0" cellpadding="0" cellspacing="1">
      <tr>
        <td valign="top" bgcolor="#B1E842"style="color:#ffffff;padding:8px 0 5px 5px;">
          <b>支援社名</b>
        </td>
        <td valign="top"  bgcolor="#B1E842" style="color:#ffffff;padding:8px 0 5px 5px;">
       　　<b>所在地</b>
        </td>
      </tr>
      <tr>
        <td valign="top" bgcolor="#ffffff"style="padding:8px 0 5px 5px;">
          <b>株式会社明光　(旧:栄豊建設株式会社)</b>
        </td>
        <td valign="top"  bgcolor="#ffffff" style="padding:8px 0 5px 5px;">
          大阪市淀川区西中島5丁目1番4号-1002号<br/>
          ℡06(6300)0768 fax06(6300)0778
        </td>
      </tr>
      <tr>
        <td valign="top" bgcolor="#ffffff"style="padding:8px 0 5px 5px;">
          <b>株式会社北嶋建設</b>
        </td>
        <td valign="top"  bgcolor="#ffffff" style="padding:8px 0 5px 5px;">
          大阪市東淀川区菅原4丁目11番1号ビスタ新庄ハイツ202<br/>
          ℡06(6323)4829 fax06(6323)4884
        </td>
      </tr>
      <tr>
        <td valign="top" bgcolor="#ffffff"style="padding:8px 0 5px 5px;">
          <b>旭営繕建設株式会社</b>
        </td>
        <td valign="top"  bgcolor="#ffffff" style="padding:8px 0 5px 5px;">
          東淀川区菅原４丁目７－２５<br/>
          ℡06(6323)6066 fax06(6323)5333
        </td>
      </tr>
      <tr>
        <td valign="top" bgcolor="#ffffff"style="padding:8px 0 5px 5px;">
          <b>有限会社アビリティ</b>
        </td>
        <td valign="top"  bgcolor="#ffffff" style="padding:8px 0 5px 5px;">
          大阪市東淀川区小松1丁目7番32号1F<br/>
          ℡06(6990)7776 fax06(6990)7767
        </td>
      </tr>
      <tr>
        <td valign="top" bgcolor="#ffffff"style="padding:8px 0 5px 5px;">
          <b>株式会社　石原商会</b>
        </td>
        <td valign="top"  bgcolor="#ffffff" style="padding:8px 0 5px 5px;">
          東淀川区西淡路１丁目１４－６石原ビル１階<br/>
          ℡06(6327)8568 fax06(6327)0541
        </td>
      </tr>
      <tr>
        <td valign="top" bgcolor="#ffffff"style="padding:8px 0 5px 5px;">
          <b>E-LIFE SERVICE</b>
        </td>
        <td valign="top"  bgcolor="#ffffff" style="padding:8px 0 5px 5px;">
          大阪市東淀川区下新庄5丁目6番11号<br/>
          ℡06(6328)8519
        </td>
      </tr>
      <tr>
        <td valign="top" bgcolor="#ffffff"style="padding:8px 0 5px 5px;">
          <b>株式会社梅野組</b>
        </td>
        <td valign="top"  bgcolor="#ffffff" style="padding:8px 0 5px 5px;">
          大阪市東淀川区豊里2丁目22番14号<br/>
          ℡06(6329)5555 fax06(6329)2851
        </td>
      </tr>
      <tr>
        <td valign="top" bgcolor="#ffffff"style="padding:8px 0 5px 5px;">
          <b>株式会社オリエントサービス</b>
        </td>
        <td valign="top"  bgcolor="#ffffff" style="padding:8px 0 5px 5px;">
          大阪市東淀川区下新庄1丁目11番17号<br/>
          ℡06(6325)5003 fax06(6325)3003
        </td>
      </tr>

      <tr>
        <td valign="top" bgcolor="#ffffff"style="padding:8px 0 5px 5px;">
          <b>株式会社凱コーポレーション</b>
        </td>
        <td valign="top"  bgcolor="#ffffff" style="padding:8px 0 5px 5px;">
          大阪市東淀川区豊里５－２０－２４－１０２<br/>
          ℡06(6815)5000 fax06(6815)1001
        </td>
      </tr>
      <tr>
        <td valign="top" bgcolor="#ffffff"style="padding:8px 0 5px 5px;">
          <b>光洋保安警備㈱</b>
        </td>
        <td valign="top"  bgcolor="#ffffff" style="padding:8px 0 5px 5px;">
          大阪市東淀川区瑞光3-2-28<br/>
          ℡06(6370)9733 fax06(6370)9734
        </td>
      </tr>
      <tr>
        <td valign="top" bgcolor="#ffffff"style="padding:8px 0 5px 5px;">
          <b>株式会社国栄警備保障</b>
        </td>
        <td valign="top"  bgcolor="#ffffff" style="padding:8px 0 5px 5px;">
          大阪市東淀川区東中島1-21-33俵ビル 5F<br/>
          ℡06(6322)0015 fax06(6322)0131
        </td>
      </tr>
      <tr>
        <td valign="top" bgcolor="#ffffff"style="padding:8px 0 5px 5px;">
          <b>後藤建設工業株式会社</b>
        </td>
        <td valign="top"  bgcolor="#ffffff" style="padding:8px 0 5px 5px;">
          大阪市北区山崎町４丁目３０<br/>
          ℡06(6136)3414 fax06(6136)3414
        </td>
      </tr>

      <tr>
        <td valign="top" bgcolor="#ffffff"style="padding:8px 0 5px 5px;">
          <b>有限会社クオリティ</b>
        </td>
        <td valign="top"  bgcolor="#ffffff" style="padding:8px 0 5px 5px;">
          大阪市東淀川区小松1丁目7番32号1F<br/>
          ℡06(6990)6577 fax06(6990)6588
        </td>
      </tr>
      <tr>
        <td valign="top" bgcolor="#ffffff"style="padding:8px 0 5px 5px;">
          <b>株式会社芝野工務店</b>
        </td>
        <td valign="top"  bgcolor="#ffffff" style="padding:8px 0 5px 5px;">
          大阪市東淀川区下新庄4丁目9番25号<br/>
          ℡06(6322)6979 fax06(6324)1758
        </td>
      </tr>
      <tr>
        <td valign="top" bgcolor="#ffffff"style="padding:8px 0 5px 5px;">
          <b>有限会社シモケン</b>
        </td>
        <td valign="top"  bgcolor="#ffffff" style="padding:8px 0 5px 5px;">
          大阪市東淀川区下新庄６－１７－９<br/>
          ℡06(6815)9509 fax06(6815)9518
        </td>
      </tr>
      <tr>
        <td valign="top" bgcolor="#ffffff"style="padding:8px 0 5px 5px;">
          <b>有限会社セイアイスター介護サービス</b>
        </td>
        <td valign="top"  bgcolor="#ffffff" style="padding:8px 0 5px 5px;">
          大阪市東淀川区淡路5丁目2番8号1F<br/>
          ℡06(6326)2004 fax06(6326)2121
        </td>
      </tr>
      <tr>
        <td valign="top" bgcolor="#ffffff"style="padding:8px 0 5px 5px;">
          <b>勢興建設</b>
        </td>
        <td valign="top"  bgcolor="#ffffff" style="padding:8px 0 5px 5px;">
          大阪市東淀川区井高野2丁目8番35号<br/>
          ℡06(6321)8181 fax06(6990)4994
        </td>
      </tr>
      <tr>
        <td valign="top" bgcolor="#ffffff"style="padding:8px 0 5px 5px;">
          <b>ソア・オート</b>
        </td>
        <td valign="top"  bgcolor="#ffffff" style="padding:8px 0 5px 5px;">
          大阪市西淀川区福町2丁目30番32号<br/>
          ℡・fax06(6320)2883
        </td>
      </tr>
      <tr>
        <td valign="top" bgcolor="#ffffff"style="padding:8px 0 5px 5px;">
          <b>株式会社東光住研</b>
        </td>
        <td valign="top"  bgcolor="#ffffff" style="padding:8px 0 5px 5px;">
          大阪市東淀川区井高野3丁目2番42号<br/>
          ℡06(6340)1234 fax06(6340)3467
        </td>
      </tr>
      <tr>
        <td valign="top" bgcolor="#ffffff"style="padding:8px 0 5px 5px;">
          <b>有限会社　藤田組</b>
        </td>
        <td valign="top"  bgcolor="#ffffff" style="padding:8px 0 5px 5px;">
          東淀川区西淡路３丁目１３－２７<br/>
          ℡06(6160)1600 fax06(6160)1616
        </td>
      </tr>

      <tr>
        <td valign="top" bgcolor="#ffffff"style="padding:8px 0 5px 5px;">
          <b>居酒屋　二十八萬石</b>
        </td>
        <td valign="top"  bgcolor="#ffffff" style="padding:8px 0 5px 5px;">
          大阪市東淀川区淡路4丁目8番27号<br/>
          ℡06(6323)3695
        </td>
      </tr>
      <tr>
        <td valign="top" bgcolor="#ffffff"style="padding:8px 0 5px 5px;">
          <b>株式会社ネオプラン</b>
        </td>
        <td valign="top"  bgcolor="#ffffff" style="padding:8px 0 5px 5px;">
          大阪市東淀川区下新庄3丁目10番3号<br/>
          ℡06(6160)2255 fax06(6160)2256
        </td>
      </tr>
      <tr>
        <td valign="top" bgcolor="#ffffff"style="padding:8px 0 5px 5px;">
          <b>株式会社北陽</b>
        </td>
        <td valign="top"  bgcolor="#ffffff" style="padding:8px 0 5px 5px;">
          大阪市東淀川区東中島５丁目２３－９  office kitajima B.L.D　２階<br/>
          ℡06(6370)0038 fax06(6370)0048
        </td>
      </tr>

      <tr>
        <td valign="top" bgcolor="#ffffff"style="padding:8px 0 5px 5px;">
          <b>穂積建装</b>
        </td>
        <td valign="top"  bgcolor="#ffffff" style="padding:8px 0 5px 5px;">
          大阪市東淀川区豊里2丁目12番14号<br/>
          ℡fax06(6328)6438
        </td>
      </tr>
      <tr>
        <td valign="top" bgcolor="#ffffff"style="padding:8px 0 5px 5px;">
          <b>株式会社水原組</b>
        </td>
        <td valign="top"  bgcolor="#ffffff" style="padding:8px 0 5px 5px;">
          大阪市東淀川区上新庄2丁目7番1号<br/>
          ℡06(6990)6666 fax06(6990)6689
        </td>
      </tr>

      <tr>
        <td valign="top" bgcolor="#ffffff"style="padding:8px 0 5px 5px;">
          <b>株式会社森義工業</b>
        </td>
        <td valign="top"  bgcolor="#ffffff" style="padding:8px 0 5px 5px;">
          大阪市東淀川区豊里2丁目3番7号<br/>
          ℡06(6322)5526 fax06(6370)7802
        </td>
      </tr>
      <tr>
        <td valign="top" bgcolor="#ffffff"style="padding:8px 0 5px 5px;">
          <b>株式会社大一植物園</b>
        </td>
        <td valign="top"  bgcolor="#ffffff" style="padding:8px 0 5px 5px;">
          大阪市東淀川区西淡路4丁目18番31号<br/>
          ℡06(6322)4697　 fax06(6322)4695
        </td>
      </tr>

      <tr>
        <td valign="top" bgcolor="#ffffff"style="padding:8px 0 5px 5px;">
          <b>株式会社　大一技建</b>
        </td>
        <td valign="top"  bgcolor="#ffffff" style="padding:8px 0 5px 5px;">
          大阪府吹田市千里山西２－７－２２<br/>
          ℡06(4861)4448　 fax06(4861)4447
        </td>
      </tr>

      <tr>
        <td valign="top" bgcolor="#ffffff"style="padding:8px 0 5px 5px;">
          <b>エムアンドティーコーポレーション株式会社</b>
        </td>
        <td valign="top"  bgcolor="#ffffff" style="padding:8px 0 5px 5px;">
          大阪市東淀川区相川２丁目１４番１６号　パールハイツ相川Ⅱ<br/>
          ℡06(6827)1610　 fax06(6827)1610
        </td>
      </tr>
      <tr>
        <td valign="top" bgcolor="#ffffff"style="padding:8px 0 5px 5px;">
          <b>有限会社丸永建設</b>
        </td>
        <td valign="top"  bgcolor="#ffffff" style="padding:8px 0 5px 5px;">
          大阪市都島区大東町３−６−１７<br/>
          ℡06(6929)0939　 fax06(6929)0940
        </td>
      </tr>
     

    </table>
    <br/>
    <p class="ttl_p" >個人支援者一覧　～<font size="6"><b style="font-size: 16px; ">五十音順で表記</b></font>～</p>
    <table style="padding:0 0 0 2px;width:650px;"  bgcolor="Gray" border="0" cellpadding="0" cellspacing="1">
      <tr>
        <td colspan="5" valign="top" bgcolor="#B1E842"style="color:#ffffff;padding:8px 0 5px 5px;">
          <b>個人支援者名</b>
        </td>
      </tr>
      <tr>
        <td valign="top" bgcolor="#ffffff"style="text-align:center;padding:8px 0 5px 5px;">
          <b>塚本　義文</b>
        </td>
        <td valign="top" bgcolor="#ffffff"style="text-align:center;padding:8px 0 5px 5px;">
          <b>赤穂　竜也</b>
        </td>
        <td valign="top" bgcolor="#ffffff"style="text-align:center;padding:8px 0 5px 5px;">
          <b>秋山　雅彦</b>
        </td>
        <td valign="top" bgcolor="#ffffff"style="text-align:center;padding:8px 0 5px 5px;">
          <b>穴吹　純一</b>
        </td>
        <td valign="top" bgcolor="#ffffff"style="text-align:center;padding:8px 0 5px 5px;">
          <b>あべ松　かをる</b>
        </td>

      </tr>
      <tr>
        <td valign="top" bgcolor="#ffffff"style="text-align:center;padding:8px 0 5px 5px;">
          <b>佐々木　直也</b>
        </td>
        <td valign="top" bgcolor="#ffffff"style="text-align:center;padding:8px 0 5px 5px;">
          <b>上田　翔太朗</b>
        </td>
        <td valign="top" bgcolor="#ffffff"style="text-align:center;padding:8px 0 5px 5px;">
          <b>上田　祐実</b>
        </td>
        <td valign="top" bgcolor="#ffffff"style="text-align:center;padding:8px 0 5px 5px;">
          <b>内田　悟</b>
        </td>
        <td valign="top" bgcolor="#ffffff"style="text-align:center;padding:8px 0 5px 5px;">
          <b>梅野　一輝</b>
        </td>

      </tr>
      <tr>
        <td valign="top" bgcolor="#ffffff"style="text-align:center;padding:8px 0 5px 5px;">
          <b>江藤　秀樹</b>
        </td>
        <td valign="top" bgcolor="#ffffff"style="text-align:center;padding:8px 0 5px 5px;">
          <b>大山　亜梨沙</b>
        </td>
        <td valign="top" bgcolor="#ffffff"style="text-align:center;padding:8px 0 5px 5px;">
          <b>岡本　賢人</b>
        </td>
        <td valign="top" bgcolor="#ffffff"style="text-align:center;padding:8px 0 5px 5px;">
          <b>岡本　佑也</b>
        </td>
        <td valign="top" bgcolor="#ffffff"style="text-align:center;padding:8px 0 5px 5px;">
          <b>岡本　真依</b>
        </td>

      </tr>
      <tr>
        <td valign="top" bgcolor="#ffffff"style="text-align:center;padding:8px 0 5px 5px;">
          <b>奥博　行</b>
        </td>
        <td valign="top" bgcolor="#ffffff"style="text-align:center;padding:8px 0 5px 5px;">
          <b>石田　隆行</b>
        </td>
        <td valign="top" bgcolor="#ffffff"style="text-align:center;padding:8px 0 5px 5px;">
          <b>井関　健人</b>
        </td>
        <td valign="top" bgcolor="#ffffff"style="text-align:center;padding:8px 0 5px 5px;">
          <b>今井　章司</b>
        </td>
        <td valign="top" bgcolor="#ffffff"style="text-align:center;padding:8px 0 5px 5px;">
          <b>角谷　和之</b>
        </td>

      </tr>
      <tr>
        <td valign="top" bgcolor="#ffffff"style="text-align:center;padding:8px 0 5px 5px;">
          <b>鎌野　清徳</b>
        </td>
        <td valign="top" bgcolor="#ffffff"style="text-align:center;padding:8px 0 5px 5px;">
          <b>近藤　拓也</b>
        </td>
        <td valign="top" bgcolor="#ffffff"style="text-align:center;padding:8px 0 5px 5px;">
          <b>佐藤　大</b>
        </td>
        <td valign="top" bgcolor="#ffffff"style="text-align:center;padding:8px 0 5px 5px;">
          <b>佐藤　克樹</b>
        </td>
        <td valign="top" bgcolor="#ffffff"style="text-align:center;padding:8px 0 5px 5px;">
          <b>佐藤　幸治</b>
        </td>


      </tr>
      <tr>
        <td valign="top" bgcolor="#ffffff"style="text-align:center;padding:8px 0 5px 5px;">
          <b>佐藤　秦子</b>
        </td>
        <td valign="top" bgcolor="#ffffff"style="text-align:center;padding:8px 0 5px 5px;">
          <b>佐藤　文子</b>
        </td>
        <td valign="top" bgcolor="#ffffff"style="text-align:center;padding:8px 0 5px 5px;">
          <b>佐仲　晃奈</b>
        </td>
        <td valign="top" bgcolor="#ffffff"style="text-align:center;padding:8px 0 5px 5px;">
          <b>佐仲　恵里</b>
        </td>
        <td valign="top" bgcolor="#ffffff"style="text-align:center;padding:8px 0 5px 5px;">
          <b>佐仲　勇紀</b>
        </td>

      </tr>
      <tr>
        <td valign="top" bgcolor="#ffffff"style="text-align:center;padding:8px 0 5px 5px;">
          <b>白石　愛</b>
        </td>

        <td valign="top" bgcolor="#ffffff"style="text-align:center;padding:8px 0 5px 5px;">
          <b>浜崎　栄里</b>
        </td>
        <td valign="top" bgcolor="#ffffff"style="text-align:center;padding:8px 0 5px 5px;">
          <b>小林　博光</b>
        </td>
        <td valign="top" bgcolor="#ffffff"style="text-align:center;padding:8px 0 5px 5px;">
          <b>瀧山　竜仁</b>
        </td>
        <td valign="top" bgcolor="#ffffff"style="text-align:center;padding:8px 0 5px 5px;">
          <b>田崎　愛弓</b>
        </td>


      </tr>
      <tr>
        <td valign="top" bgcolor="#ffffff"style="text-align:center;padding:8px 0 5px 5px;">
          <b>谷川　友貴</b>
        </td>
        <td valign="top" bgcolor="#ffffff"style="text-align:center;padding:8px 0 5px 5px;">
          <b>谷川　真由美</b>
        </td>
        <td valign="top" bgcolor="#ffffff"style="text-align:center;padding:8px 0 5px 5px;">
          <b>豊原　輝</b>
        </td>
        <td valign="top" bgcolor="#ffffff"style="text-align:center;padding:8px 0 5px 5px;">
          <b>中村　薫</b>
        </td>
        <td valign="top" bgcolor="#ffffff"style="text-align:center;padding:8px 0 5px 5px;">
          <b>永島　徹</b>
        </td>

      </tr>
      <tr>
        <td valign="top" bgcolor="#ffffff"style="text-align:center;padding:8px 0 5px 5px;">
          <b>永島　理絵</b>
        </td>

        <td valign="top" bgcolor="#ffffff"style="text-align:center;padding:8px 0 5px 5px;">
          <b>西本　圭吾</b>
        </td>
        <td valign="top" bgcolor="#ffffff"style="text-align:center;padding:8px 0 5px 5px;">
          <b>浜崎　文博</b>
        </td>
        <td valign="top" bgcolor="#ffffff"style="text-align:center;padding:8px 0 5px 5px;">
          <b>細川　卓也</b>
        </td>
        <td valign="top" bgcolor="#ffffff"style="text-align:center;padding:8px 0 5px 5px;">
          <b>穂積　祐也</b>
        </td>

      </tr>
      <tr>
        <td valign="top" bgcolor="#ffffff"style="text-align:center;padding:8px 0 5px 5px;">
          <b>前川　誠</b>
        </td>

        <td valign="top" bgcolor="#ffffff"style="text-align:center;padding:8px 0 5px 5px;">
          <b>森本　明</b>
        </td>
        <td valign="top" bgcolor="#ffffff"style="text-align:center;padding:8px 0 5px 5px;">
          <b>山田　亜由美</b>
        </td>
        <td valign="top" bgcolor="#ffffff"style="text-align:center;padding:8px 0 5px 5px;">
          <b>山本　エミ子</b>
        </td>
        <td valign="top" bgcolor="#ffffff"style="text-align:center;padding:8px 0 5px 5px;">
          <b>山本　弘</b>
        </td>


      </tr>
      <tr>
        <td valign="top" bgcolor="#ffffff"style="text-align:center;padding:8px 0 5px 5px;">
          <b>渡辺　泰裕</b>
        </td>

        <td valign="top" bgcolor="#ffffff"style="text-align:center;padding:8px 0 5px 5px;">
          <b>&nbsp;</b>
        </td>
        <td valign="top" bgcolor="#ffffff"style="text-align:center;padding:8px 0 5px 5px;">
          <b>&nbsp;</b>
        </td>
        <td valign="top" bgcolor="#ffffff"style="text-align:center;padding:8px 0 5px 5px;">
          <b>&nbsp;</b>
        </td>
        <td valign="top" bgcolor="#ffffff"style="text-align:center;padding:8px 0 5px 5px;">
          <b>&nbsp;</b>
        </td>


      </tr>

    </table>

  </div>
  <br/>
  <div style="padding:0 0 0 25px;width:650px">
    <hr color="Gray" style="border-style:dotted">
  </div>
</div>