
<%@news = true%>
<div id="theme"><!-- theme -->
  <%if false%>
    <h2>住んでよかった・住んでみたい明るい町づくり</h2>
    <p>はじめは誰かがやることと思い、傍観していた。
      友達に誘われ活動に参加し、自分が変わって行くのを感じた。
      そして今では、自分がやることだと友達や家族に言えるようになった。
    </p>
  <%end%>
   <%=image_tag("common/0003.gif",:style=>"width:700px;",:alt=>"住んでよかった・住んでみたい明るい町づくり")%>

<%=image_tag("common/top.gif",:size=>"700x476",:alt=>"住んでよかった・住んでみたい明るい町づくり")%>
</div><!-- theme -->
