<% @seo_keywords = '支持者,町づくり,東淀川,ボランティア,地域町づくりの会,見回り,身体障害者' %>
<% @seo_description = '町づくりの会に応援していただいている支持者の皆様の声をご紹介。'%>
<% @seo_title = "支援者の声 | 住んでみたい明るい町づくり - #{ConstantsList::SITE_NAME}"%>
<div id="gdj">
  <h2>支持者の声　～<font size="6"><b style="font-size: 16px; ">五十音順で表記</b></font>～</h2>
  <div style="padding:10px 0 0 30px;width:650px;">
    <p class="ttl_p" >下新庄連合町会　会長　金田清之</p>
    <p class="txt" style="padding:0 0 15px 10px;border-bottom:1px dotted #999999;">
      地元東淀川区に多大なる貢献をしていただき、有難うございます。
      今後も応援をしていますので、頑張ってください!
    </p>
    <p class="ttl_p" >青少年指導員(下新庄校下) 金田典昭</p>
    <p class="txt" style="padding:0 0 15px 10px;border-bottom:1px dotted #999999;">
      東淀川区の防犯・防災そして、地域の町づくり等々、
      数々の貢献をしていただき有難うございます。子供達の未来と地域のためにも、
      これからも頑張ってください。応援しています!!
    </p>
    <p class="ttl_p" >淡路地域教育協議会　会長　川畑陽彦</p>
    <p class="txt" style="padding:0 0 15px 10px;border-bottom:1px dotted #999999;">
      東淀川地域町づくりの会の皆様には、支援委員会の中で、子供見守り隊として中学校内の
      巡視・子供見守るデーでの交通安全誘導等、
      ご協力頂き誠に有難うございます。今後のご活躍を期待しております。
    </p>
    <p class="ttl_p" >淡路小学校　校長　桑波田望子</p>
    <p class="txt" style="padding:0 0 15px 10px;border-bottom:1px dotted #999999;">
      住んでよかった東淀川区と言われるような町づくりを目ざして、
      日夜活動されている皆さんに感謝の気持ちでいっぱいです。
      淡路小学校の子ども達も学校をきれいにして下さったことを喜んでいます。
    </p>
    <p class="ttl_p" >倫政社　代表　古林　幹弘</p>
    <p class="txt" style="padding:0 0 15px 10px;border-bottom:1px dotted #999999;">
      行政や他人まかせにするのではなく、自分たちで街づくりに参加する事により一層、我が町を愛し他人にも優しくなれるのでしょう。
      素晴らしい活動にエールを送ります。
    </p>

    <p class="ttl_p" >淡路第2振興町会　町会長　中林功</p>
    <p class="txt" style="padding:0 0 15px 10px;border-bottom:1px dotted #999999;">
      昨年、淡路5丁目周辺の高齢者宅で3件の強盗事件があり、
      東淀川地域町づくりの会の皆様方が防犯の巡回パトロールをしていただき、
      町会を代表して感謝申し上げます。
    </p>
    <p class="ttl_p" >社団法人大阪市人権協会　理事長　中本順一</p>
    <p class="txt" style="padding:0 0 15px 10px;border-bottom:1px dotted #999999;">
      子ども達の登下校の安全に対しても地域の町の清掃にも奉仕をしていただいています。
      このことは大きなことと思います。人と人とのつながりこそ今大事なことです。
      この活動こそ東淀川が地域の町づくりです。市民共働です!
    </p>
    <p class="ttl_p" >部落解放同盟大阪府連合会南方支部　支部長　西田定蔵</p>
    <p class="txt" style="padding:0 0 15px 10px;border-bottom:1px dotted #999999;">
      東淀川地域住民に対して、安全安心に生活出来るようにボランティア活動で
      パトロール等をして頂き有難く感謝しております。
      今後、増々のご活躍をお祈り致します。
    </p>
    <p class="ttl_p" >西淡路日の出友愛クラブ　会長福山侃子</p>
    <p class="txt" style="padding:0 0 15px 10px;border-bottom:1px dotted #999999;">
      美化活動で重いゴミ袋の収集にご協力して戴いています。
    </p>
    <p class="ttl_p" >部落解放同盟大阪府連合会日の出支部、支部長　向井一彦</p>
    <p class="txt" style="padding:0 0 15px 10px;border-bottom:1px dotted #999999;">
      子供たちが安心して、健やかに育つことは、一人一人が大切にされる社会をめざす私達の願いでもあります。
      東淀川地域町づくりの会の皆様の御活躍に、深く敬意を表します。
    </p>
    <p class="ttl_p" >淡路連合振興町会　会長箭原裕之</p>
    <p class="txt" style="padding:0 0 15px 10px;border-bottom:1px dotted #999999;">
      東淀川地域町づくりの会の皆様に淡路小学校校庭の雑草整理をして頂き、その若いパワーには、正直驚きました。
      今後とも町の美化運動や防災防犯、交通安全啓発に子供たちの健全育成に力を借して下さい。
    </p>
    <p class="ttl_p" >知的障害者授産施設　あすわーく　施設長　山内泰典</p>
    <p class="txt" style="padding:0 0 15px 10px;border-bottom:1px dotted #999999;">
      昨秋、「福祉ふれあいバザー」のお手伝いをしていただいた事が縁でお知り合いになることができました。
      (その節は有難うございました!)誰もが住みよい街づくりのため、共に頑張りましょう!
    </p>

    <p class="ttl_p" >市民日報社　社長　難波清志</p>
    <p class="txt" style="padding:0 0 15px 10px;border-bottom:1px dotted #999999;">
      郷土愛、わが町づくりに若い力を結集し、ボランティア精神を大いに発揮されているメンバーの皆さんに心より敬意を表します。皆さんの活躍ぶりは多くの人たちに感銘を与えています。頑張れ!!
    </p>
   <p class="ttl_p" >大阪維新の会　大阪市会議員　守島正</p>
    <p class="txt" style="padding:0 0 15px 10px;border-bottom:1px dotted #999999;">
地域からの自発的な活動こそ、町を支え・町を作りあげる原点です。皆様の活動に感謝すると共に、活動の輪が広がり、会が発展することで、より住み良い東淀川となることを祈念し、応援いたします。
    </p>
   <p class="ttl_p" >淡路中学校　校長　高橋哲也</p>
    <p class="txt" style="padding:0 0 15px 10px;border-bottom:1px dotted #999999;">
   東淀川地域町づくりの皆様には、学校支援ボランティアとして、生徒へ登下校時などに挨拶をはじめとする声かけをして頂いています。本校生徒が見守られて登下校できていることに感謝しています。
    </p>

    <%=image_tag("thanks.gif",:alt=>"組織図")%>
  </div>
</div>