<% @seo_keywords = '町づくりの会とは？,町づくり,東淀川,ボランティア,地域町づくりの会,見回り,身体障害者' %>
<% @seo_title = "町づくりの会とは？ | 住んでみたい明るい町づくり - #{ConstantsList::SITE_NAME}"%>
<div id="gdj">
  <h2>ボランティアとは？</h2>
  <div style="padding:10px 0 0 30px">
    <p class="ttl_p" >活動の趣旨</p>
    <p class="txt">
      ボランティア活動について、皆さんはどのようなイメージをお持ちでしょうか？<br/>
      <br/>
      「無償でお金にならない」「慈善で恥ずかしい」「自己を犠牲にし、他者は何もしない」
      「時間や経済的にゆとりのある人がすること」「限られた人がすること」「奉仕」といったことでしょうか？<br/>
      <br/>
      ボランティア活動を考える前に、まず、私たちの置かれている状況に目を転じてみましょう。<br/>
      近年、世界では紛争、災害、貧困、環境の問題が進行しています。
      それらは国境に関係なく私たちの生活にも影響を及ぼします。途上国の問題は先進国にかかわるし、逆も然りでしょう。日本国内に目を向けてみても、かつての
      高度経済成長時代に当たり前だった大量生産、大量消費のサイクルは明らかに終焉（えん）しました。<br/>
      今は逆に、「量」より「質」が重んじられる時代です。
      政治においても中央集権から地域主権への流れが加速しつつあります。そんな現代の社会情勢を背景に、改めてボランティア活動を考えてみたいと思います。<br/>
      <br/>
      「ボランティア」を語るうえで、エポックになったのは、何といっても平成７年１月の阪神・淡路大震災でしょう。全国各地からたくさんの人たちが被災地に入り、
      ボランティアとしてさまざまな智恵と工夫を凝らしながら復興活動に携わったことは皆さんも記憶に新しいのではないでしょうか。この年が「ボランティア元年」といわれるゆえんでもあります。<br/>
      <br/>
      &nbsp;&nbsp;昨今、「ニア・イズ・ベター」という言葉が地域主権を表す際によく使われるようになりました。<br/>
      私なりの解釈では、自分たちに身近なところの問題に関心を抱き、解決していくことによって、その輪はつどのつまり、
      世界的な円環をなし得るのではないか、ということです。<br/>
      <br/>
      &nbsp;&nbsp;自分が住む地域のボランティア活動に参加することで、住んでいる町がこれまでとは違った見え方をするかもしれません。
      まさにニア・イズ・ベターの精神はボランティア活動のそれと共鳴するものかもしれません。そもそもボランティア(Volunteer)とは、
      ラテン語のVoluntas（自由意志）を語源にしていると言われています。自由な意志に基づいて自発的に行う社会参加活動。言い換えれば、
      他者に言われたからではなく、自分の意志と判断によって、他者や社会の利益を追求する活動のことです。そこには、金銭や物理的な利益、
      見返りを求めない精神が息づいているはずです。<br/>
      <br/>
      &nbsp;&nbsp;高齢者、身体障害者、子供たちの誰しもが健康で文化的、楽しく、明るく、豊かな暮らしと社会の実現をめざして、
      ネットワークを築き上げていく。それが私たち「NPO法人 東淀川地域町づくりの会」が掲げる理念です。この会は、
      月２回の街頭での美化活動、週1回の区内中学校での見守り隊、不定期での夜の巡回パトロールなどがあります。その他にも、
      各地域のボランティア団体への活動協力など多岐にわたる活動を行っております。今後もボランティア精神とニア・イズ・ベターの言葉を胸に地道に活動を行ってまいります。
    </p>
  </div>
</div>
