<div id="header"><!-- header -->
  <h1 style="font-size:60%;text-align:center;color:#FFFFFF;"><strong>住んでよかった</strong>・<strong>住んでみたい</strong><strong>明るい町づくり</strong></h1>
  <ul>
    <li><%= link_to(image_tag("common/header03_off.gif",:alt=>"運営組織" ,:width=>"71",:height=>"25"),:controller=>:content,:action=>:info)%></li>
    <li><%= link_to(image_tag("common/header02_off.gif",:alt=>"このサイトについて" ,:width=>"118",:height=>"25"),:controller=>:content,:action=>:about)%></li>
    <li><%= link_to(image_tag("common/header01_off.gif",:alt=>"HOME" ,:width=>"67",:height=>"25"),:controller=>:content,:action=>:top)%></li>
  </ul>
</div><!-- header -->