<% @seo_keywords = '防犯防災,美化活動,町づくり,東淀川,ボランティア,地域町づくりの会,見回り,身体障害者' %>
<% @seo_description = '区民祭りにて、東淀川NPO連絡会から、かき氷を販売しました。'%>
<% @seo_title = "活動記録 VOL29 | 住んでみたい明るい町づくり - #{ConstantsList::SITE_NAME}"%>
<table style="padding:0 0 0 25px;width:700px">
  <tr>
    <td colspan="2" valign="top" style="padding:8px 0 5px 5px">
      <p style="background: url(/images/common/0001.gif) no-repeat;padding:8px 0 0 22px">
        <b>2011年9月　区民祭りにて、東淀川NPO連絡会から、かき氷を販売しました。</b></p>
      &nbsp;かなりの長蛇の列ができていました。
    </td>
  </tr>
  <tr>
    <td style="width:170px">
      <%=image_tag("activity/1029/1-1151.jpg",:alt=>"区民祭りにて、東淀川NPO連絡会から、かき氷を販売しました。",:size=>"300x214")%>
    </td>
    <td style="width:170px">
      <%=image_tag("activity/1029/1-1152.jpg",:alt=>"区民祭りにて、東淀川NPO連絡会から、かき氷を販売しました。",:size=>"300x214")%>
    </td>
  </tr>
  <tr>
    <td style="width:170px">
      <%=image_tag("activity/1029/1-1153.jpg",:alt=>"区民祭りにて、東淀川NPO連絡会から、かき氷を販売しました。",:size=>"300x214")%>
    </td>
  </tr>
 
</table>
<br/>
<div style="padding:0 0 0 25px;width:650px">
  <hr color="Gray" style="border-style:dotted">
</div>
