<% @seo_keywords = '防犯防災,美化活動,町づくり,東淀川,ボランティア,地域町づくりの会,見回り,身体障害者' %>
<% @seo_description = '毎年恒例の餅つき大会、 子供たちと一緒に行いました。'%>
<% @seo_title = "活動記録 VOL10 | 住んでみたい明るい町づくり - #{ConstantsList::SITE_NAME}"%>
<table style="padding:0 0 0 25px;width:700px">
   <tr>
    <td colspan="2" valign="top" style="padding:8px 0 5px 5px">
      <p style="background: url(/images/common/0001.gif) no-repeat;padding:8px 0 0 22px">
        <b>毎年恒例の餅つき大会、 子供たちと一緒に行いました。</b></p>
    </td>
  </tr>
  <tr>
    <td style="width:170px">
      <%=image_tag("activity/vol1/activity1-015.png",:alt=>"毎年恒例の餅つき大会 子供たちも一緒に行いました１",:size=>"300x214")%>
    </td>
    <td style="width:170px">
      <%=image_tag("activity/vol1/activity1-016.png",:alt=>">毎年恒例の餅つき大会 子供たちも一緒に行いました２",:size=>"300x214")%>
    </td>
  </tr>
</table>
<br/>
<div style="padding:0 0 0 25px;width:650px">
  <hr color="Gray" style="border-style:dotted">
</div>