<% @seo_keywords = '知的障害者授産施設,美化活動,町づくり,東淀川,ボランティア,地域町づくりの会,見回り,身体障害者' %>
<% @seo_description = '知的障害者授産施設　あすわーく主催のバザーに自転車の整備及び警備として参加しました。'%>
<% @seo_title = "活動記録 VOL2 | 住んでみたい明るい町づくり - #{ConstantsList::SITE_NAME}"%>
<table style="padding:0 0 0 25px;width:700px">
  <tr>
    <td colspan="2" valign="top" style="padding:8px 0 5px 5px">
      <p style="background: url(/images/common/0001.gif) no-repeat;padding:8px 0 0 22px">
        <b>知的障害者授産施設　あすわーく主催のバザーに自転車の整備及び警備として参加しました。</b></p>
      &nbsp;淡路地域福祉・生活支援センター　つどいホールにて。
    </td>
  </tr>
  <tr>
    <td style="width:170px">
      <%=image_tag("activity/vol1/activity1-005.png",:alt=>"淡路地域福祉・生活支援センター　つどいホールにて １",:size=>"300x214")%>
    </td>
    <td style="width:170px">
      <%=image_tag("activity/vol1/activity1-006.png",:alt=>"淡路地域福祉・生活支援センター　つどいホールにて　２",:size=>"300x214")%>
    </td>
  </tr>
  
  <tr>
    <td colspan="2" valign="top" style="padding:8px 0 5px 5px">
      <p style="background: url(/images/common/0001.gif) no-repeat;padding:8px 0 0 22px">
        <b>連合会の要請により、区内の小学校校庭の草刈りをおこないました。総勢23人</b></p>
    </td>
  </tr>
  <tr>
    <td style="width:170px">
      <%=image_tag("activity/vol1/activity1-037.png",:alt=>"淡路小学校の校庭の草刈りをしました。１",:size=>"300x214")%>
    </td>
    <td style="width:170px">
      <%=image_tag("activity/vol1/activity1-010.png",:alt=>"淡路小学校の校庭の草刈りをしました。　２",:size=>"300x214")%>
    </td>
  </tr>

</table>
<br/>
<div style="padding:0 0 0 25px;width:650px">
  <hr color="Gray" style="border-style:dotted">
</div>