<%=@name%>様

お問い合わせ頂きありがとうございました。
以下の内容でお問い合わせを受付致しました。
担当者より回答させて頂きますので、しばらくお待ち下さいませ。

◇お問い合わせ内容
---------------------------------------------------------------------
<%=@contact_result%>
---------------------------------------------------------------------
【東淀川地域街づくりの会】
